/*General CSS3 Style*/
body {
	margin:0px;  
	font-family: Century Gothic, Verdana, Arial;
	font-size:14px;
	font-style:normal;
	overflow-y: scroll;	
	background-image: url(images/background.png);
	background-repeat: repeat-y;
	background-size: 200px;
}

canvas{
    border: 2px solid gray;
    border-radius: 10px;
	box-shadow: 0px 5px 10px #B5C1C5;
	background: rgb(255, 255, 255);
}

#canvasBox{			
    width: 100%;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

p {
	margin: 10px;
	margin-left: 50px;
	padding: 10px;
	padding-left: 20px;
}

h1 {
    margin-top: 20px;
	margin-right: 300px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	color: rgb(71, 77, 79);
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.15);
}
h2 {
    margin-top: 5px;
	margin-right: 300px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 20px;
	color: #5C6366;
	letter-spacing: 2px;
}
h1:first-letter {
	font-size: 30px;
}
a {
	text-decoration:none;
	color: #665971;
}

a:hover {
	font-weight:bold;
	color: #5d506e;
}